<!DOCTYPE html>
<html>
<head>
    <title>Space of James</title>

    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'weblog/favicon.ico' %}" />
    <link rel="bookmark" href="{% static 'weblog/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'weblog/css/main.css' %}" />
    <script type="text/javascript" src="{% static 'weblog/js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'weblog/js/menu.js' %}"></script>
</head>
<body class="absolute">
    <div class="main bg">
        <div class="width50 height100 FL">
           <div class=" height20 center">
               <img src="{% static 'weblog/img/jamesspace.png' %}">
           </div>
           <div class=" height50">
               <div class=" width80 mL10 height100 center" id="menu">
                   <audio id="menu_voice">
                      <source src="{% static 'weblog/music/soundeffect/laser-01.mp3' %}" type="audio/mpeg">
                   </audio>
                   <ul class="pt50 fontsize20">
                       <li><a href="" onmouseover="voice();">HOME</a></li>
                       <li><a href="photos" onmouseover="voice();">PHOTOS</a></li>
                       <li><a href="me" onmouseover="voice();">ABOUT ME</a></li>
                       <li><a href="blog" onmouseover="voice();">BLOG</a></li>
                       <li><a href="support" onmouseover="voice();">SUPPORT</a></li>
                       
                   </ul>
               </div>
           </div>
           <div class=" height30 center">
               <img src="{% static 'weblog/img/welcome.png' %}">
               <audio id="bg_music">
                   <source  src="/static/weblog/music/2.mp3" type="audio/mpeg">
               </audio>
               <script type="text/javascript">
               //this script is to change the song to play randomly...
                 function randomMusic(){
                    var audio = document.getElementById('bg_music');
                    audio.src = "/static/weblog/music/"+parseInt(Math.random()*3+1,10)+".mp3";
                    audio.play();
                    audio.addEventListener('ended', function (){
                      randomMusic();
                    })
                  }
                  randomMusic();
               </script>
           </div>
        </div>
        <div class="width50 height100 FL OH center" id="img">
            <img src="{% static 'weblog/img/psb.png' %}">
        </div>
    </div>
</body>
</html>